In [47]:
import pandas as pd
import numpy as np

In [87]:
match_data = pd.read_csv('/Users/augustin/OneDrive - 서울과학기술대학교/21년 2학기/기계학습/프로젝트/plat_final_added_score.csv')

In [88]:
match_data.drop('Unnamed: 0', axis=1, inplace=True)
match_data.drop('matchId', axis=1, inplace=True)

In [89]:
temp_df1 = match_data.copy()
temp_df2 = match_data.copy()

In [90]:
for playerNumber in range(1, 6):
    temp_df1.drop('t2_p%d_champion_name' % playerNumber, axis=1, inplace=True)
    temp_df1.drop('t2_p%d_summoner_name' % playerNumber, axis=1, inplace=True)
    temp_df1.drop('t2_p%d_teamPosition' % playerNumber, axis=1, inplace=True)
    temp_df1.drop('t2_p%d_kda' % playerNumber, axis=1, inplace=True)
    temp_df1.drop('t2_p%d_winRate' % playerNumber, axis=1, inplace=True)
    temp_df1.drop('t2_p%d_fiveGame_played' % playerNumber, axis=1, inplace=True)
    temp_df1.drop('t2_p%d_psScore' % playerNumber, axis=1, inplace=True)

In [91]:
for playerNumber in range(1, 6):
    temp_df1.drop('t1_p%d_summoner_name' % playerNumber, axis=1, inplace=True)


for playerNumber in range(1, 6):
    temp_df2.drop('t2_p%d_summoner_name' % playerNumber, axis=1, inplace=True)

In [92]:
for playerNumber in range(1, 6):
    temp_df2.drop('t1_p%d_champion_name' % playerNumber, axis=1, inplace=True)
    temp_df2.drop('t1_p%d_summoner_name' % playerNumber, axis=1, inplace=True)
    temp_df2.drop('t1_p%d_teamPosition' % playerNumber, axis=1, inplace=True)
    temp_df2.drop('t1_p%d_kda' % playerNumber, axis=1, inplace=True)
    temp_df2.drop('t1_p%d_winRate' % playerNumber, axis=1, inplace=True)
    temp_df2.drop('t1_p%d_fiveGame_played' % playerNumber, axis=1, inplace=True)
    temp_df2.drop('t1_p%d_psScore' % playerNumber, axis=1, inplace=True)

In [93]:
for i in range(0, len(temp_df2)):
    if temp_df2['t1_win'][i] == 1:
        temp_df2['t1_win'][i] = 0
    else:
        temp_df2['t1_win'][i] = 1

/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1354582197.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df2['t1_win'][i] = 1
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1354582197.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df2['t1_win'][i] = 0

In [94]:
def find_switch(positionData):
    wrong_position_index_list = []
    for index in range(0, len(positionData)):
        if ((list(temp_df1.iloc[index,5:10]) == ['TOP', 'JUNGLE', 'MIDDLE', 'BOTTOM', 'UTILITY']) == False):
            wrong_position_index_list.append(index)

    return wrong_position_index_list

In [95]:
def drop_switch(originalData, wrong_index):
    for i in wrong_index:
        originalData.drop(i, axis = 0, inplace = True)

In [96]:
def get_wrong_position_df(originalData, wrong_index):
    wrong_position_df = pd.DataFrame(columns=originalData.columns)
    for index in wrong_index:
        tempList = originalData.iloc[index,:]
        wrong_position_df = wrong_position_df.append(pd.Series(tempList), ignore_index=True)

    return wrong_position_df

In [97]:
t1_wrong_index = find_switch(temp_df1.iloc[:, 5:10])
t2_wrong_index = find_switch(temp_df2.iloc[:, 5:10])

In [98]:
a = get_wrong_position_df(temp_df1, t1_wrong_index)
b = get_wrong_position_df(temp_df2, t2_wrong_index)

In [99]:
drop_switch(temp_df1, t1_wrong_index)
drop_switch(temp_df2, t2_wrong_index)

In [100]:
position = ['TOP', 'JUNGLE', 'MIDDLE', 'BOTTOM', 'UTILITY']
position_encoded = [1, 2, 3, 4, 5]

a_encoded = a.replace(position, position_encoded)
b_encoded = b.replace(position, position_encoded)

In [101]:
def bubble_sort(encoded_postion, teamNumber):
    for q in range(0, len(encoded_postion)):
        array = list(encoded_postion.iloc[q, 5:10])
        n = len(array)
        for i in range(n - 1):
            for j in range(n - i - 1):
                if array[j] > array[j + 1]:
                    array[j], array[j + 1] = array[j + 1], array[j]
                    encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+1))][q]
                    encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+1))][q]
                    encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+1))][q]
                    encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+1))][q]
                    encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+1))][q]
                    encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+1))][q]

In [102]:
bubble_sort(a_encoded, 1)

/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1399423054.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1399423054.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1399423054.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1399423054.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1399423054.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1399423054.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+1))][q]

In [103]:
bubble_sort(b_encoded, 2)

/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1399423054.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1399423054.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1399423054.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1399423054.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1399423054.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_28232/1399423054.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+1))][q]

In [104]:
t1_p1_champion_name = a_encoded['t1_p1_champion_name']
t1_p2_champion_name = a_encoded['t1_p2_champion_name']
t1_p3_champion_name = a_encoded['t1_p3_champion_name']
t1_p4_champion_name = a_encoded['t1_p4_champion_name']
t1_p5_champion_name = a_encoded['t1_p5_champion_name']

t2_p1_champion_name = b_encoded['t2_p1_champion_name']
t2_p2_champion_name = b_encoded['t2_p2_champion_name']
t2_p3_champion_name = b_encoded['t2_p3_champion_name']
t2_p4_champion_name = b_encoded['t2_p4_champion_name']
t2_p5_champion_name = b_encoded['t2_p5_champion_name']

a_encoded['t2_p1_champion_name'] = t2_p1_champion_name 
a_encoded['t2_p2_champion_name'] = t2_p2_champion_name 
a_encoded['t2_p3_champion_name'] = t2_p3_champion_name 
a_encoded['t2_p4_champion_name'] = t2_p4_champion_name 
a_encoded['t2_p5_champion_name'] = t2_p5_champion_name

b_encoded['t1_p1_champion_name'] = t1_p1_champion_name 
b_encoded['t1_p2_champion_name'] = t1_p2_champion_name 
b_encoded['t1_p3_champion_name'] = t1_p3_champion_name 
b_encoded['t1_p4_champion_name'] = t1_p4_champion_name 
b_encoded['t1_p5_champion_name'] = t1_p5_champion_name 

t1_p1_champion_name = temp_df1['t1_p1_champion_name']
t1_p2_champion_name = temp_df1['t1_p2_champion_name']
t1_p3_champion_name = temp_df1['t1_p3_champion_name']
t1_p4_champion_name = temp_df1['t1_p4_champion_name']
t1_p5_champion_name = temp_df1['t1_p5_champion_name']

t2_p1_champion_name = temp_df2['t2_p1_champion_name']
t2_p2_champion_name = temp_df2['t2_p2_champion_name']
t2_p3_champion_name = temp_df2['t2_p3_champion_name']
t2_p4_champion_name = temp_df2['t2_p4_champion_name']
t2_p5_champion_name = temp_df2['t2_p5_champion_name']

temp_df1['t2_p1_champion_name'] = t2_p1_champion_name 
temp_df1['t2_p2_champion_name'] = t2_p2_champion_name 
temp_df1['t2_p3_champion_name'] = t2_p3_champion_name 
temp_df1['t2_p4_champion_name'] = t2_p4_champion_name 
temp_df1['t2_p5_champion_name'] = t2_p5_champion_name


temp_df2['t1_p1_champion_name'] = t1_p1_champion_name 
temp_df2['t1_p2_champion_name'] = t1_p2_champion_name 
temp_df2['t1_p3_champion_name'] = t1_p3_champion_name 
temp_df2['t1_p4_champion_name'] = t1_p4_champion_name 
temp_df2['t1_p5_champion_name'] = t1_p5_champion_name

In [105]:
t1_p1_psScore = a_encoded['t1_p1_psScore']
t1_p2_psScore = a_encoded['t1_p2_psScore']
t1_p3_psScore = a_encoded['t1_p3_psScore']
t1_p4_psScore = a_encoded['t1_p4_psScore']
t1_p5_psScore = a_encoded['t1_p5_psScore']

t2_p1_psScore = b_encoded['t2_p1_psScore']
t2_p2_psScore = b_encoded['t2_p2_psScore']
t2_p3_psScore = b_encoded['t2_p3_psScore']
t2_p4_psScore = b_encoded['t2_p4_psScore']
t2_p5_psScore = b_encoded['t2_p5_psScore']

a_encoded['t2_p1_psScore'] = t2_p1_psScore 
a_encoded['t2_p2_psScore'] = t2_p2_psScore 
a_encoded['t2_p3_psScore'] = t2_p3_psScore 
a_encoded['t2_p4_psScore'] = t2_p4_psScore 
a_encoded['t2_p5_psScore'] = t2_p5_psScore

b_encoded['t1_p1_psScore'] = t1_p1_psScore 
b_encoded['t1_p2_psScore'] = t1_p2_psScore 
b_encoded['t1_p3_psScore'] = t1_p3_psScore 
b_encoded['t1_p4_psScore'] = t1_p4_psScore 
b_encoded['t1_p5_psScore'] = t1_p5_psScore 

t1_p1_psScore = temp_df1['t1_p1_psScore']
t1_p2_psScore = temp_df1['t1_p2_psScore']
t1_p3_psScore = temp_df1['t1_p3_psScore']
t1_p4_psScore = temp_df1['t1_p4_psScore']
t1_p5_psScore = temp_df1['t1_p5_psScore']

t2_p1_psScore = temp_df2['t2_p1_psScore']
t2_p2_psScore = temp_df2['t2_p2_psScore']
t2_p3_psScore = temp_df2['t2_p3_psScore']
t2_p4_psScore = temp_df2['t2_p4_psScore']
t2_p5_psScore = temp_df2['t2_p5_psScore']

temp_df1['t2_p1_psScore'] = t2_p1_psScore 
temp_df1['t2_p2_psScore'] = t2_p2_psScore 
temp_df1['t2_p3_psScore'] = t2_p3_psScore 
temp_df1['t2_p4_psScore'] = t2_p4_psScore 
temp_df1['t2_p5_psScore'] = t2_p5_psScore


temp_df2['t1_p1_psScore'] = t1_p1_psScore 
temp_df2['t1_p2_psScore'] = t1_p2_psScore 
temp_df2['t1_p3_psScore'] = t1_p3_psScore 
temp_df2['t1_p4_psScore'] = t1_p4_psScore 
temp_df2['t1_p5_psScore'] = t1_p5_psScore

In [106]:
team1_data = pd.concat([temp_df1, a_encoded])
team2_data = pd.concat([temp_df2, b_encoded])

In [111]:
def drop_teamPosition(originalData, teamNumber):
    for i in range(1, 6):
        originalData.drop("t%d_p%d_teamPosition" % (teamNumber, i), axis = 1, inplace = True)

In [112]:
drop_teamPosition(team1_data, 1)

In [113]:
drop_teamPosition(team2_data, 2)

In [117]:
temp_column_list = [
    'our_top_champ', 'our_jun_champ', 'our_mid_champ', 'our_bot_champ', 'our_sup_champ', 
    'win', 'our_top_kda', 'our_top_wr', 'our_top_five', 
    'our_jun_kda', 'our_jun_wr', 'our_jun_five',
    'our_mid_kda', 'our_mid_wr', 'our_mid_five',
    'our_bot_kda', 'our_bot_wr', 'our_bot_five', 
    'our_sup_kda', 'our_sup_wr', 'our_sup_five',
    'our_top_psScore', 'our_jun_psScore', 'our_mid_psScore', 'our_bot_psScore', 'our_sup_psScore',
    'opp_top_champ', 'opp_jun_champ', 'opp_mid_champ', 'opp_bot_champ', 'opp_sup_champ',
    'opp_top_psScore', 'opp_jun_psScore', 'opp_mid_psScore', 'opp_bot_psScore', 'opp_sup_psScore',
]


new_column_list = [
    'our_top_champ', 'our_top_kda', 'our_top_wr', 'our_top_five', 'our_top_psScore',
    'our_jun_champ', 'our_jun_kda', 'our_jun_wr', 'our_jun_five', 'our_jun_psScore',
    'our_mid_champ', 'our_mid_kda', 'our_mid_wr', 'our_mid_five', 'our_mid_psScore',
    'our_bot_champ', 'our_bot_kda', 'our_bot_wr', 'our_bot_five', 'our_bot_psScore',
    'our_sup_champ', 'our_sup_kda', 'our_sup_wr', 'our_sup_five', 'our_sup_psScore',
    'opp_top_champ', 'opp_top_psScore', 'opp_jun_champ', 'opp_jun_psScore', 
    'opp_mid_champ', 'opp_mid_psScore', 'opp_bot_champ', 'opp_bot_psScore', 'opp_sup_champ', 'opp_sup_psScore',
    'win'
]

In [119]:
team1_data.columns = temp_column_list
team2_data.columns = temp_column_list

In [120]:
final_df = pd.concat([team1_data, team2_data], ignore_index=True)

In [121]:
final_df.reset_index(inplace=True)
final_df.drop('index', inplace=True, axis=1)

In [123]:
final_df = final_df[new_column_list]

In [124]:
final_df

,our_top_champ,our_top_kda,our_top_wr,our_top_five,our_top_psScore,our_jun_champ,our_jun_kda,our_jun_wr,our_jun_five,our_jun_psScore,...,opp_top_psScore,opp_jun_champ,opp_jun_psScore,opp_mid_champ,opp_mid_psScore,opp_bot_champ,opp_bot_psScore,opp_sup_champ,opp_sup_psScore,win
0,그레이브즈,1.639344,28.571429,1,50.68,티모,1.752941,33.333333,1,0.00,...,50.77,카직스,50.74,야스오,50.68,애쉬,49.09,제라스,53.94,0
1,제이스,2.296296,60.000000,1,53.82,신 짜오,6.400000,100.000000,0,53.83,...,54.64,자크,51.77,누누와 윌럼프,47.89,아펠리오스,43.08,이렐리아,54.39,1
2,요네,1.480519,33.333333,0,50.77,리 신,1.222222,0.000000,0,55.30,...,48.80,에코,51.08,르블랑,53.04,진,53.35,룰루,56.11,0
3,다리우스,1.607595,58.333333,1,51.20,리 신,1.705882,50.000000,0,55.30,...,0.00,뽀삐,51.64,야스오,50.68,신지드,0.00,탈론,0.00,1
4,갱플랭크,2.120690,40.000000,1,48.88,리 신,2.303030,40.000000,1,55.30,...,56.63,우디르,46.78,리산드라,51.57,징크스,53.72,파이크,49.89,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,탐 켄치,2.346154,68.750000,1,53.63,탈론,3.117647,66.197183,1,54.85,...,53.82,그레이브즈,56.59,아크샨,52.40,베인,56.01,럭스,53.28,1
1180,제이스,1.514286,25.000000,0,53.82,신 짜오,3.682927,68.421053,1,53.83,...,53.72,탈리야,50.96,제드,54.19,케이틀린,51.00,럭스,53.28,0
1181,다리우스,2.614286,100.000000,0,51.20,탈론,2.924242,71.428571,1,54.85,...,53.82,킨드레드,51.16,이렐리아,46.39,칼리스타,45.43,아무무,51.79,1
1182,사일러스,1.566038,66.666667,0,47.44,신 짜오,2.638889,37.500000,1,53.83,...,50.19,다이애나,41.50,야스오,50.68,드레이븐,50.52,파이크,49.89,1
1183,아칼리,1.425287,33.333333,0,48.97,리 신,3.000000,42.857143,1,55.30,...,47.44,비에고,52.95,블라디미르,48.32,코그모,46.51,세나,47.18,0

In [126]:
#final_df.to_csv('plat_final_dataset.csv')
final_df.to_csv('gold_final_dataset.csv')